<style>
        .img-container{
            height:250px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    .card-title a{
        color: #17a2b8;
    }
    .price {
        font-style: italic;
        color: darkred;
    }

    </style>

<div class="card">
    <div class="card-header">
        <h5 class="card-title"><a href="{% url 'item' listing.slug %}">{{ listing.title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">From: <span class="price">${{ listing.starting_bid }}</span></h6>
    </div>
    <div class="img-container">
        <img class="card-img-top" src="https://i.picsum.photos/id/607/200/300.jpg?hmac=ZEvzqI62NudR3rgqTkRZzFnlEeOt9z-b_i8VdLoTgoI" alt="Card image cap">
    </div>
    <div class="card-body">
        <p class="card-text text-muted">{{ listing.description }}</p>
        <div class="text-right"><a href="{% url 'item' listing.slug %}" class="btn btn-outline-info btn-sm">View</a></div>
    </div>
    <div class="card-footer">
        <small class="text-muted text-right">Listed by: {{ listing.seller }}</small>
        <a href="{% url "categories-listings" listing.category %}"
           class= "badge badge-info float-right">{{ listing.category }}</a>
    </div>
</div>